[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target
Wants=consul-watch-cfssl.service consul-watch-cacerts.service

[Service]
User=consul
Restart=on-failure

ExecStartPre=/opt/consul/bin/consul-manage conf
ExecStart=/opt/consul/bin/consul-manage start

[Install]
WantedBy=multi-user.target

