[Unit]
Description=Fabio load balancer
Wants=consul.service

[Service]
Restart=on-failure
RestartSec=10s

EnvironmentFile=-/etc/sysconfig/fabio.conf
EnvironmentFile=-/etc/sysconfig/fabio_%i.conf
ExecStartPre=/usr/bin/rkt --insecure-options=image fetch docker://fabiolb/fabio
ExecStart=/usr/bin/rkt run --net=host --inherit-env docker://fabiolb/fabio

[Install]
WantedBy=network.target