[Unit]
Description=registers cfssl service in consul
Requires=consul.service cfssl.service
After=consul.service cfssl.service

[Service]
Restart=on-failure
RestartSec=10s

ExecStartPre=/opt/cfssl/bin/cfssl-manage register-ca
ExecStart=/opt/cfssl/bin/cfssl-manage register

[Install]
WantedBy=multi-user.target
